/* -------------------- Table of contents --------------------

1. Sections
    1.1. Intro
    1.1. Counters
    1.1. Subscribe
    1.1. SignUp

----------------------- Table of content -------------------- */

/* --------------------
   -------------------- Intro -------------------- */
.b-intro__background { background-image: url('../../images/slide-2.jpg'); }

.b-intro__slider .b-slider_item__first .b-intro_wrapper { background-image: url('http://placehold.it/1920x1000.jpg/17161c/999999'); }
.b-intro__slider .b-slider_item__second .b-intro_wrapper { background-image: url('http://placehold.it/1920x1000.jpg/17161c/999999'); }

.m-touch .b-intro__video { background-image: url('http://placehold.it/1920x1000.jpg/17161c/999999'); }

/* --------------------
   -------------------- Counters -------------------- */
.b-counters { background-image: url('http://placehold.it/1920x1000.jpg/17161c/999999'); }

/* --------------------
   -------------------- Subscribe -------------------- */
.b-subscribe { background-image: url('http://placehold.it/1920x1000.jpg/17161c/999999'); }

/* --------------------
   -------------------- SignUp -------------------- */
.b-signUp { background-image: url('http://placehold.it/1920x1000.jpg/17161c/999999'); }
.img-custom-fluid{max-width:100%;}
.aligncenter{text-align:center; margin:0 auto;}

#nomination1{
    display: block;
    background: #ec1556;
    padding: 1px 0;
    text-align: center;
    margin-top: 18px;

}
#nomination1-style{
    color: #fff;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    
}


@media only screen and (max-width: 768px) {
    #nomination{
        width: 100%; 
        background-color: #E5A812;
        margin-top: 0px;
        }
}
